@{
    ViewData["Title"] = "Detalhes do Aluno";
}

<div class="container mt-4">
    <h2>Detalhes do Aluno</h2>
    <hr />
    <p><strong>ID do Aluno:</strong> @ViewBag.Id</p>
    <p><strong>Nome:</strong> @ViewBag.Nome</p>
    <p><strong>Curso:</strong> @ViewBag.Curso</p>
    <p><strong>Semestre:</strong> @ViewBag.Semestre</p>

    <a asp-controller="Aluno" asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
</div>